.backmain {
	background-color : #fff;
	width : 40%;
	height: 80%;
	padding: 10px;
	position: relative;
	top: 30px;
	border-radius: 30px;
}
.searchimage {
	widows: 20px;
	height: 20px;
}
.searchtitle{
	display: inline;
}

.searchtitlediv {
	margin-bottom: 30px;
}
